@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding-bottom: 50px;
}

ul {
    text-decoration: none;
    display: flex;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.blue {
    color: #0731ee;
}

.btn {
    background-color: #0731ee;
    color: white;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #131090;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
    background-color: #242424;
}

.link__hover-effect:hover:after {
    left: 0;
    width:100%
}

/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px auto;
}

.nav__logo {
    padding-left: 50px;
}

.nav__links {
    display: flex;
    align-items: center;
    color: #242424;
    padding-right: 50px;
}

.nav__link {
    margin: 0 24px;
    padding: 0px 0px 4px;
    font-size: 20px;
    color: #242424;
    font-weight: 600;
    cursor: pointer;
}